@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');  
body{
    margin: 0;
    padding: 0;
    background-image: url(/images/bg-img1.jpg);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.nav-border{
    background-color: rgb(149, 157, 157);
    height: 30px;
    width: auto;
}


.heading{
    display: flex;
    padding-left: 10rem;
    background-color: rgb(246, 246, 221);    
}
.headin img{
    display: flex;
    flex-direction: column;
    height: 120px;
    width: 250px;    
}
#dialoge{
    height: 80px;
    width: 200px;
}
nav{
    align-items: center;    
}
a{
    padding: 8px 16px;
    text-decoration: none;
    color: rgb(28, 27, 27);
    font-size: 20px;
}
nav a:hover{
    padding: 8px 16px;
    background-color: rgb(192, 192, 192);
    text-decoration: none;
    color: rgb(28, 27, 27);
    font-size: 20px;  
}


.backimg{
    background-repeat: no-repeat;
    height: 780px; 
    width: 100vw;
}
#Logo-white{
    height: 260px;
    width: 380px;
    margin-left: 35%;
    margin-top: 40px;
}


.content{
    background-color: white;
    width: 100%;
    align-items: center;
    overflow: auto;
    scroll-behavior: smooth;
}
.content-head{
    text-align: center;
    font-family: 'Noto Serif JP', serif;
    color:  rgb(30, 67, 41);
    font-size: 30px;
}
.product{
    text-align: center;
    display: flex;
    gap: 40px;
    flex-direction: row;
    pointer-events: auto; 
    flex-wrap:nowrap;  
}

.box{
    height: 350px;
    width: 300px;
    background-color: rgb(168, 242, 225);
    border-radius: 50px;
}
.box h2{
    color: rgb(70, 71, 72);
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
.box h4{
    color: rgb(70, 71, 72);
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}


.imgbox{
    position: relative;
}
.imgbox img{
    height: 360px;
    width: 280px;
    border-radius: 40px;   
}
#blurimg {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.imgbox:hover #blurimg {
    display: block;
}


.shop{

    padding: 7px 5px;
    background-color: rgb(30, 67, 41);
    border-radius: 100px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-size: 15px;
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);    
}


a .shop {
    color: white;
}


.shop:hover {
    background-color: rgb(241, 255, 246);
    color: rgb(30, 67, 41);
}


.home-made{
    background: linear-gradient(-70deg,rgb(158, 186, 82) 50%,rgb(212, 228, 184) 50% );
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-img{
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: flex-end; /* Align content to the right */
    margin-right: 20px;
    margin-top: 20px;
    align-items: center;
}
.home-text{
    flex: 1;
    padding: 20px;
}

.home-text h1{
    font-family: 'Quicksand', sans-serif;
    font-size: 48px;
}
 .bg{
 background-color: aliceblue;
 height: 420px;
 width: 520px;
 display: flex;
 align-items: center;
 justify-content: center;
 box-shadow: 1px -1px 10px black ;
 
 }
.home-img img {
    
    max-width: 100%;
    height: auto;
    height: 400px;
    width: 500px;
    border-radius: 20px;
    
}
