body{
    margin: 0;
    padding: 0;
    background-image: url(/images/bg-img1.jpg);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}



.line1{
    background-color: rgb(149, 157, 157);
    height: 30px;
    width: auto;
}
.headin{
    display: flex;
    padding-left: 10rem;
    background-color: rgb(246, 246, 221);
    
}
.headin img{
    display: flex;
    flex-direction: column;
    height: 120px;
    width: 250px;
    
}
#dialoge{
    height: 80px;
    width: 200px;
}

nav{
    align-items: center;
  
    
}


a{
    padding: 8px 16px;
    text-decoration: none;
    color: rgb(28, 27, 27);
    font-size: 20px;
    
}

nav a:hover{
    padding: 8px 16px;
    background-color: rgb(192, 192, 192);
    text-decoration: none;
    color: rgb(28, 27, 27);
    font-size: 20px;
    
}

.backimg{
    background-repeat: no-repeat;
    height: 780px; 
    width: 100vw;
}

#Logo-white{
    height: 260px;
    width: 380px;
    margin-left: 35%;
    margin-top: 40px;
}

.content{
    background-color: rgb(212, 228, 184);
}

.htext{
    text-align: center;
    font-family: ;
}
.product{
    text-align: center;
    display: flex;
    gap: 40px;
}
.box{
    height: 400px;
    width: 300px;
    background-color: rgb(212, 228, 184);
}

.imgbox{
    position: relative;
}

.imgbox img{
    height: 360px;
    width: 280px;
    border-radius: 40px;
   
}

#blurimg {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.imgbox:hover #blurimg {
    display: block;
    /* po */
}

/*.shop{
     padding: 10px 50px;
    background-color: rgb(30, 67, 41);
    border-radius: 100px;
    text-decoration: none;
    display: inline-block; 
    transition: background-color 0.3s ease;
    font-size: 18px; 
    display: flex;
    justify-content: center; 
    align-items: center; 

.shop a{
    color: white;


}

.shop:hover {
    background-color: rgb(20, 47, 29);
}

.content.shop{

} */

.shop{
    padding: 10px 50px;
    background-color: aliceblue;
    height: 10px;
    width: 50px;
    font-size: 50px;
    

}